<form class="login-form" (ngSubmit)="proceedlogin(loginForm)" #loginForm="ngForm">
  <h2>Login</h2>
  <div class="form-group">
    <label for="userId">Username:</label>
    <input id="userId" name="userId" type="text" required ngModel />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password" required ngModel />
  </div>
  <div class="form-group">
  <button type="submit">Login</button>
  </div>
  <div class="form-group">
    <a style="width: 100%;" routerLink="/register" mat-raised-button color="accent">New User? Register here</a>
  </div>
</form>


<!-- <form class="login-form" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
  <h2>Login</h2>
  <div class="form-group">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text" required ngModel />
  </div>
  <div class="form-group password-group">
    <label for="password">Password:</label>
    <div class="password-input-wrapper">
      <input
        id="password"
        name="password"
        [type]="showPassword ? 'text' : 'password'"
        required
        ngModel
      />
      <span class="eye-icon" (click)="showPassword = !showPassword" tabindex="0">
        <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24">
          <path stroke="#888" stroke-width="2" d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12Z"/>
          <circle cx="12" cy="12" r="3" stroke="#888" stroke-width="2"/>
        </svg>
        <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24">
          <path stroke="#888" stroke-width="2" d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12Z"/>
          <circle cx="12" cy="12" r="3" stroke="#888" stroke-width="2"/>
          <line x1="4" y1="20" x2="20" y2="4" stroke="#888" stroke-width="2"/>
        </svg>
      </span>
    </div>
  </div>
  <button type="submit">Login</button>
</form> -->