
<!-- <app-home></app-home> -->

<!-- Nav bar-->
<nav class="navbar">
  <div class="logo">✈️ Flight Booker</div>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/search" routerLinkActive="active">Search Flights</a></li>
    <li><a routerLink="/bookings" routerLinkActive="active">My Bookings</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<!-- <nav>
  <a routerLink="/search" routerLinkActive="active">Flight Search (MFE2)..mf1</a>
</nav>




<h2>Bookmarks (MFE3 as Web Component)..mf1</h2>
<bookmark-widget></bookmark-widget> -->


